body {
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;    
}

footer {
    background-color: rgb(55, 55, 172);
    color: aliceblue;
    text-align: center;
    padding: 20px 0 20px 0;
    font-weight: normal;
    font-size: 12px;
    text-transform: capitalize;    
}

header {
    background-color: aquamarine;
    padding: 40px 0;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}

.card {
    display: inline-block;
    width:20%;
    margin:10px;
    background-color: rgb(235, 232, 232);
    padding: 10px;
    border-radius: 10px;
    border: light;
    box-shadow: -2px -4px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -4px 5px 0px rgba(0,0,0,0.75);
}

.card2 {
    background-color: brown;
    color: aliceblue;
}

img {
    width: 100%;
    border-radius: 10px;
}

.main {
    text-align: center;
    align-items: center;
    height: 70vh;
}