body {
    background-color: aliceblue;    
}

footer {
    background-color: rgb(55, 55, 172);
    color: aliceblue;
    text-align: center;
    padding: 20px 0 20px 0;
    font-weight: normal;
    font-size: 12px;
    text-transform: capitalize;
}

.card {
    display: inline-block;
    width:20%;
    margin: 10px;
}

img {
    width: 100%;
}