header {
    padding: 1em 0;
    background-color: grey;
}

body {
    color: rgba(0, 0, 0, .87);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 0;
    min-width: 18.75rem;
}

nav ul li {
    font-size: 1.1em;
    display: inline-block;
    margin: 20px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 900px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}



