header {
    background-color: black;
}


nav, li{
    display: flex;
    padding: 20px;
    margin-right: 200px;
    gap: 20px;
    text-align: end;
    color: white;
}

#GCLlefia{
    color: palevioletred;
}

.container1{
    text-align: center;
    justify-content: center;
    color: black;
    background-image: url(https://st.depositphotos.com/4413287/55103/i/450/depositphotos_551033520-stock-illustration-vintage-texture-background-canvas-tablecloth.jpg);
}
.boton{
   justify-content: center;
}