header {
    background-color: black;
}


nav, li{
    display: flex;
    padding: 20px;
    margin-right: 200px;
    gap: 20px;
    text-align: end;
    color: white;
}

#GCLlefia{
    color: palevioletred;
}