header {
    background-color: black;
    justify-content: space-between;
}


nav, li{
    display: flex;
    padding: 30px;
    margin-right: 200px;
    gap: 20px;
    align-items: center;
    color: white;
}

#GCLlefia{
    color: palevioletred;
}

.container1{
    text-align: center;
    justify-content: center;
    color: white;
    background-image: url(https://st.depositphotos.com/4413287/55103/i/450/depositphotos_551033520-stock-illustration-vintage-texture-background-canvas-tablecloth.jpg);
    height: 500px;
}
.boton{
   justify-content: center;
   border-radius: 100px;
   
}