body {
    margin: 0;
    background-image:url('https://images.unsplash.com/photo-1457369804613-52c61a468e7d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGxpYnJvcyUyMGFiaWVydG9zfGVufDB8fDB8fHww');
    padding: 70px;
}

main {
    background-color: brown;
    padding: 50px;
}

h1 {
    border: yellow 5px solid ;
    padding: 10px;
    font-family: "Doto";
    color: white;
}

h2 {
    color: white;
    border: palevioletred 3px solid;
    padding: 5px;
}

ul {
    border: green solid 5px;
    color: blue;
}

ul li {
    padding: 10px;
    color: blue;
}

#descripcion {
    background-color:darkslateblue ;
    text-align: center;
    padding: 40px;
    color: white;
    width: 50%;
    margin: auto;
}

#descripcion h2 {
    color: pink;
    border: none;    
}

#contenido {
    color: white;

}

.laquetuquieras {
    color: white;
}

