body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 1440px;
    height: 1024px;
    border: 2px solid black;
    background-image: url(imagenes/playa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.lado-izquierdo{
    background-color: #984851;
    height: 1024px;
    width: 25%;
}

.imagen{
    width: 200px;
    border-radius: 300%;
    margin-left: 70px;
    margin-top: 50px;
}

.texto{
    font-size: 30px;
    text-align: center;
    line-height: 5px;
    color: white;
    font-weight: 300;
    padding-top: 30px;
}

.texto-2{
    font-size: 16px;
    text-align: center;
    line-height: 5px;
    color: white;
    font-weight: 200;
    padding-bottom: 50px;
}

.lista{
    cursor: pointer;
}

ul{
    padding: 0;
    text-align: center;
}

li{
    list-style: none;
    color: white;
    padding: 20px;
    border: 1px solid white;
}

.sobre-mi{
    background-color: white;
    color: #984851;
}

.iconos{
    padding-top: 70px;
    gap: 20px;
    display: flex;
    margin-left: 85px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}

.pie{
    text-align: center;
    padding-top: 100px;
    color: white;
}

.lado-derecho{
    display: flex;
    text-align: center;
}

.titulo{
    margin-top: 100px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.texto-derecha{
    text-align: center;
    color: white;
}

.parte-arriba{
    width: 1000px;
}

.imagen-medio{
    margin-top: 100px;
    width: 500px;
    margin-left: -350px;
}

.reflux{
    margin-left: 600px;
    margin-top: -250px;
    color: white;
    font-size: 30px;
}

.lorem{
    width: 400px;
    margin-left: 625px;
    text-align: left;
    color: white;
}

.boton{
    padding: 15px;
    margin-left: 350px;
    color: #984851;
    cursor: pointer;
}

